
@{
    ViewBag.Title = "AllProducts";
}


<link href="~/Content/DataTables/css/jquery.dataTables.css" rel="stylesheet" />



<h2>All Products</h2>

<table class="table table-bordered table-striped" id="productDataTable">
    <thead>
        <tr>
            <th>ProductID</th>
            <th>Product Name</th>
            <th>Price</th>
            <th>Category</th>
            

        </tr>
    </thead>
    <tbody></tbody>

</table>



@section Scripts{
    <script src="~/Scripts/jquery-3.3.1.min.js"></script>
    <script src="~/Scripts/DataTables/jquery.dataTables.js"></script>
<script src="~/Scripts/typeahead.jquery.js"></script>
    <script type="text/javascript">

        $(document).ready(function () {
            var words = [];
            var dataTable = {
                table: null,
                initializeDataTable: function () {
                    var $table = $(".table-striped");
                    dataTable.table = $table.DataTable({
                        processing: true,
                        serverSide: true,
                        "aLengthMenu": [[10, 25, 50, 100], [10, 25, 50, 100]],
                        ajax:
                        {
                            url: "/Data/Index",
                            type: "POST",
                            dataType: "json"
                        },
                        "columns": [
                            { "data": "Id" },
                            { "data": "ProductName" },
                            { "data": "Price" },
                            { "data": "Category" }
                            
                        ],
                        "columnDefs": [
                            {
                                // The `data` parameter refers to the data for the cell (defined by the
                                // `data` option, which defaults to the column being worked with, in
                                // this case `data: 0`.
                                "render": function (data, type, row) {
                                    console.log(data);
                                    return '<td><input type="text" class="form-control" id="row_' + row + '" name="row_' + row + '" value="'+data+'"></td>';
                                    
                                },
                                "targets": 1
                            },
                            { "visible": true,  "targets": [1] }
                        ],
                        //"initComplete": function () {
                        //    var searchBox = $("#example_wrapper").find("input[type='search']");
                        //    var searchBoxHolder = searchBox.parent();
                        //    searchBox.empty().remove();
                        //    searchBoxHolder.append($("<input/>", {
                        //        "type": "text"
                        //    }).typeahead({
                        //        source: words,
                        //        afterSelect: function (word) {
                        //            table.search(word).draw();
                        //        }
                        //    }).on("keyup", function (x) {
                        //        if (words.indexOf($(x.target).val()) === -1) {
                        //            table.search($(x.target).val()).draw();
                        //        }
                        //    }));
                        //},
                        "pagingType": "full_numbers"
                    });
                },
                getData: function () {
                    console.log("Function Calling");
                    if (dataTable.table == null) {
                        console.log("initializeDataTable Function Calling");
                        dataTable.initializeDataTable();
                    } else {
                        console.log("ajax.reload(); Function Calling");
                        dataTable.table.ajax.reload();
                    }

                }
            }

            dataTable.getData();



        });


    </script>



}


